/* Estilos para la lista de notas */
.notas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Crear columnas flexibles */
  gap: 16px; /* Espacio entre las notas */
}

/* Estilos para cada nota individual */
/* Estilos para cada nota individual */
.notas .nota {
  background-color: #e91a1a;
  color: #fff;
  border: 1px solid #790c0c;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

/* Estilos para el botón de borrar dentro de cada nota */
.notas .nota button {
  background-color: #e74c3c;
  color: #000000; /* Texto negro */
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
}

/* Estilos adicionales según sea necesario */
