/* Estilos para el componente notaSingle */
.notaSingle {
  background-color: #3498db; /* Azul brillante */
  color: #fff; /* Texto blanco */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 10px;
  position: relative; /* Añadido para posición relativa */
}

/* Estilos para el título */
.notaSingle h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* Estilos para el botón de borrar */
.notaSingle button {
  background-color: #e74c3c; /* Rojo brillante */
  color: #fff; /* Texto blanco */
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición de color al pasar el ratón */
  position: absolute; /* Añadido para posición absoluta */
  bottom: 10px; /* Añadido para separar el botón desde abajo */
  right: 10px; /* Añadido para alinear el botón a la derecha */
}

/* Cambiar el color del botón al pasar el ratón */
.notaSingle button:hover {
  background-color: #c0392b; /* Rojo más oscuro */
}
